body{
	margin: 0;
	padding: 0;
}
.center-header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: #e6e6e6;
	box-shadow: 0px 1px 15px #888888;
}

.body{
	width: 100%;
	height: 90.2vh;

}

.footer{
	position: relative;
	width: 100%;
	background-color: #273746;
	margin: 0px;
	bottom: -20px;
	
}
#bb{
	padding: 10px 0px;
	font-size: 15px;
	color: #fff;
	font-family: Orbitron;
	text-align: center;
}

.mm{
	margin-bottom: 50px;
	text-align: center;
}

@media screen and (min-width: 768px){
		#header{
			position: fixed;
			background-color: #e6e6e6;
			width: 100%;
			max-width: 720px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
    		left: 50%;
    		transform: translate(-50%, 0);
			top: 0px;
			height: 80px;
			text-align: center;
			/*box-shadow: 0px 1px 15px #888888;*/
		}
		.logo{			
			position: absolute;
			top: 5px;
			width: 70px;
			left: 20px;
		}
		#title{
			margin: 0;
			display: inline;
			position: absolute;
			top: 20px;
			left: 250px;
			
		}
		#menu{
			display: none;
		}
		#menu1{
			margin: 70px 0px 0px 606px;
			visibility: hidden;
		}

		li{
			list-style: none;
			width: 100px;
			line-height: 35px;
			background-color: #e6e6e6;
		}
		li a{
			text-decoration: none;
			color: #000;
		}
		li:hover{
			background-color: #737373;
		}
		.btn {
  			background-color: #bfbfbf;
  			border: none;
  			color: #fff;
  			padding: 12px 16px;
  			font-size: 16px;
 			cursor: pointer;
 			display: block;
 			margin-top: -260px;
 			float: right;
 			margin-right: 0px;
		}
		.btn:hover {
  			background-color: #737373;
		}

		.xbtn{
			display: block;
			float: right;
			margin-top: -75px;
			background-color: #bfbfbf;
			border: none;
			font-size: 20px;
			color: #fff;
		}
		.body{
			background-color: #e6e6e6;
			width: 100%;
			max-width: 720px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
			height: 2000px;
			text-align: center;
		}

		.show{
			margin-left: -7px;
			width: 730px;
			display: inline-block;
			height: 700px;
			border: 2px solid #000;
			overflow-y: hidden;
			padding-bottom: 5px;
		}

		.content{
			visibility: hidden;
			margin-right: -50px;
			margin-left: 20px;
			display: inline-block;
			width: 260px;
			height: 500px;
			border: 2px solid #000;
			overflow-y: scroll;
		}

		.content1{
			position: relative;
			background-color: #e6e6e6;
			top: -760px;
			right: -110px;
			visibility: hidden;
			display: inline-block;
			width: 260px;
			height: 500px;
			border: 2px solid #000;
			overflow-y: scroll;
			
		}

		.textbox{
			width: 100%;
			height: 100%;
			border: none;
            padding: 0px;
		}
		.oo{
			text-align: left;
			margin-left: 10px;
		}
		.dwl{
			margin-top: -5px;
			float: right;
			color: #fff;
			padding: 0px;
			background-color: #009933;
		}
		.dwl:hover{
			background-color: #004d1a;
		}
		.pp{
			margin-bottom: 15px;
			text-align: left;
		}
		.subxx{
			margin: 0px 0px 0px 20px;
			cursor: pointer;
		}
		.subxx:hover{
			color: blue;
		}
}

@media screen and (min-width: 992px){
		#header{
			position: fixed;
			background-color: #e6e6e6;
			width: 100%;
			max-width: 960px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
    		left: 50%;
    		transform: translate(-50%, 0);
			top: 0px;
			height: 80px;
			text-align: center;
			/*box-shadow: 0px 1px 15px #888888;*/
		}
		.logo{			
			position: absolute;
			top: 5px;
			width: 70px;
			left: 20px;
		}
		#title{
			margin: 0;
			display: inline;
			position: absolute;
			top: 20px;
			left: 120px;
		}
		#menu{
			position: absolute;
			top: 10px;
			margin-left: 400px;
			display: block;
		}

		li{
			list-style: none;
			float: left;
			margin-left: -15px;
			font-size: 20px;
			font-weight: bold;

		}
		li a{
			text-decoration: none;
			color: #000;
		}

		.btn, .xbtn {
 			display: none;
		}

		.body{
			width: 100%;
			max-width: 960px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
			height: 1300px;
			text-align: center;
			background-color: #e6e6e6;
		}
		.show{
			margin-left: -50px;
			width: 680px;
			display: inline-block;
			height: 700px;
			border: 2px solid #000;
			overflow-y: hidden;
		}
		.content{
			visibility: visible;
			margin-right: -50px;
			margin-left: 20px;
			display: inline-block;
			width: 260px;
			height: 500px;
			border: 2px solid #000;
			overflow-y: scroll;
		}
		.content1{
			visibility: hidden;
		}
		.textbox{
			width: 100%;
			height: 100%;
			border: none;
            padding: 0px;
		}
		.oo{
			text-align: left;
			margin-left: 10px;
		}
		.dwl{
			margin-top: -5px;
			float: right;
			color: #fff;
			padding: 0px;
			background-color: #009933;
		}
		.dwl:hover{
			background-color: #004d1a;
		}
		.pp{
			margin-bottom: 15px;
			text-align: left;
		}
		.subxx{
			margin: 0px 0px 0px 20px;
			cursor: pointer;
		}
		.subxx:hover{
			color: blue;
		}
}

@media screen and (min-width: 1200px){
		#header{
			position: fixed;
			background-color: #e6e6e6;
			width: 100%;
			max-width: 1140px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
    		left: 50%;
    		transform: translate(-50%, 0);
			top: 0px;
			height: 80px;
			/*box-shadow: 0px 1px 15px #888888;*/
			
		}
		.logo{			
			position: absolute;
			top: 5px;
			width: 70px;
			left: 20px;
		}
		#title{
			margin: 0;
			display: inline;
			position: absolute;
			top: 20px;
			left: 120px;
		}
		#menu{
			position: absolute;
			top: 10px;
			margin-left: 450px;
			display: block;
		}

		li{
			list-style: none;
			float: left;
			margin-right: 0px;
			font-size: 20px;
			font-weight: bold;

		}
		li a{
			text-decoration: none;
			color: #000;
		}
		.btn, .xbtn {
 			display: none;
		}

		.body{
			width: 100%;
			max-width: 1140px;
			padding-right:15px;
			padding-left:15px;
			margin-right:auto;
			margin-left:auto;
			height: 1300px;
			text-align: center;
			background-color: #e6e6e6;
		}
		.show{
			margin-left: -50px;
			width: 860px;
			display: inline-block;
			height: 700px;
			border: 2px solid #000;
			overflow-y: hidden;
		}
		.content{
			visibility: visible;
			margin-right: -50px;
			margin-left: 20px;
			display: inline-block;
			width: 260px;
			height: 500px;
			border: 2px solid #000;
			overflow-y: scroll;
		}
		.content1{
			visibility: hidden;
		}
		.textbox{
			width: 100%;
			height: 100%;
			border: none;
            padding: 0px;
		}
		.oo{
			text-align: left;
			margin-left: 10px;
		}
		.dwl{
			margin-top: -5px;
			float: right;
			color: #fff;
			padding: 5px;
			background-color: #009933;
		}
		.dwl:hover{
			background-color: #004d1a;
		}
		.pp{
			margin-bottom: 15px;
			text-align: left;
		}
		.subxx{
			margin: 0px 0px 0px 20px;
			cursor: pointer;
		}
		.subxx:hover{
			color: blue;
		}
}